<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceProperties</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,2,0</string>
				<key>device_type</key>
				<string>VGA compatible controller</string>
				<key>model</key>
				<string>Intel HD Graphics 530</string>
				<key>AAPL,ig-platform-id</key>
				<data>AAAbGQ==</data>
				<key>device-id</key>
				<data>GxkAAA==</data>
				<key>framebuffer-patch-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-fbmem</key>
				<data>AACQAA==</data>
				<key>framebuffer-stolenmem</key>
				<data>AAAwAQ==</data>
				<key>AAPL00,override-no-connect</key>
				<data>AP///////wBMg3ycAAAAAAAYAQSVIhNgCm+xp1VMniUMUFQAAAABAQEBAQEBAQEBAQEBAQEB3DeAoHA4QEAwICUAWMIQAAAZAAAADwAAAAAAAAAAAB6CEFIAAAAA/gBTQU1TVU5HCiBMg0hMAAAA/gBMVE4xNTZITDA3NDAxAP4=</data>
				<key>enable-hdmi20</key>
				<data>AQAAAA==</data>
				<key>disable-external-gpu</key>
				<data>AQAAAA==</data>
				<key>enable-lspcon-support</key>
				<data>AQAAAA==</data>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
